Repository seriouslysean/demo--auto-bump-forked-prs, pull requests merged in 2023-12, with the labels that each got.

#1 Increment count to 2
  .github/workflows/pr-actions.yml
  index.js
Labels: enhancement, version:patch

#3 Increment count to 4
  .github/workflows/pr-actions.yml
  index.js
Labels: enhancement, version:patch

#7 Add auto bump workflow
  .github/workflows/bump-version.yml
  .github/workflows/pr-actions.yml
Labels: enhancement, version:patch

#9 Add package-lock.json
  package-lock.json
Labels: enhancement, version:patch

#10 Increment count to 6
  index.js
Labels: enhancement, version:patch

#11 Increment count to 7
  index.js
Labels: enhancement, version:patch

#12 Add workflow to potentially bump forked PRs by using workflow_run
  .github/workflows/bump-version.yml
  .github/workflows/prepare-version-bump.yml
Labels: enhancement, version:minor

#13 Feature/bump forked prs workflow fix
  .github/workflows/prepare-version-bump.yml
Labels: enhancement, version:minor

#14 Add workflow to potentially bump forked PRs by using workflow_run (fi…
  .github/workflows/prepare-version-bump.yml
Labels: enhancement, version:minor

#16 Add workflow to potentially bump forked PRs by using workflow_run (fi…
  .github/workflows/bump-version.yml
  .github/workflows/prepare-version-bump.yml
Labels: enhancement, version:minor

#19 Feature/bump forked prs workflow fix 7
  .github/workflows/bump-version.yml
Labels: bug, version:minor

#20 Add workflow to potentially bump forked PRs by using workflow_run (fi…
  .github/workflows/prepare-version-bump.yml
Labels: bug, version:minor

#23 Updated count
  .idea/.gitignore
  .idea/demo--auto-bump-forked-prs.iml
  .idea/modules.xml
  .idea/vcs.xml
  index.js
Labels: enhancement, version:patch

#22 Update README.md
  README.md
Labels: documentation, version:patch

#24 Updating README
  README.md
Labels: documentation, version:patch

#26 Update workflows with more github-like approach
  .github/workflows/bump-version.yml
  .github/workflows/prepare-version-bump.yml
Labels: enhancement, version:major

#30 Revert to previous working version with minor fixes
  .github/workflows/bump-version.yml
Labels: version:patch

#33 Update script to use github download action instead
  .github/workflows/bump-version.yml
Labels: bug, version:major

#34 Update action version
  .github/workflows/bump-version.yml
  .github/workflows/prepare-version-bump.yml
Labels: enhancement, version:patch
